div.content-wrapper-root {
  display: flex;
  justify-content: space-between;
}

div.highlights-wrapper {
  max-width: 600px !important;
}

div.highlights-item {
  margin: 10px;
  border: 1px solid red;
}

input,
button {
  height: 30px;
}
